.marquee {
    background-color: #F0F0F0;
}

.navbar {
    /* background-color: white; */
    color: #463077 !important;
}

Nav.Link {
    color: #463077 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #463077 !important;
}

.navbar.navbar-light.bg-light{
    background-color: #FFFF!important;
 }

.text-color {
    color: #463077 !important;
}

Navbar {
    color: #463077;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.navbar-brand {
    color: #463077 !important;
    font-size: 45px;
}
