.signup-student {
    padding-left: 20px;
    padding-right: 20px;
}

.signup-student-h1 {
    text-align: left;
}

.signup-student-form {
    padding: 10px;
}

.eeo-h2 {
    color: #463077;
}

.eeo-paragraph {
    padding-left: 10%;
    padding-right: 10%;
}

.row {

}