.home-student-h1{
    margin: 10px 1200px 10px 0px;
    font-weight: bold;
}

.home-student-container{
    border: 2px solid #FFDE59;
    border-radius: 15px;
    padding: 10px 0px 0px 0px;
    width: 800px;
    height: 100px;
    margin: 10px 0px 15px 60px; 
    text-align: left;  
}

.home-student-h2{
    color: #463077;
    margin: 15px 0px 15px 15px;
    font-weight: bold;
}


.home-student-row{
    border-top: 2px solid #FFDE59;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgray;
    padding-bottom: 9px;
}
.home-student-col{
    margin-top: 20px;
    font-size: 20px;
}

.home-student-btn1{
    color:#463077;
    background-color:#FFFF;
    border-color:#C99700;
    margin: 10px 10px 10px 10px; 
    font-size: large;
    font-weight: bolder;
    
}

.home-student-btn2{
    color:#ffff;
    background-color:#463077;
    border-color:#463077;
    margin: 10px 10px 10px 10px; 
    font-size: large;
    font-weight: bolder;
    
}

.home-student-container{
    border: 2px solid #FFDE59;
    border-radius: 15px;
    padding: 10px 0px 0px 0px;
    width: 800px;
    height: 200px;
    margin: 10px 0px 15px 60px; 
    text-align: left;  
}

@media only screen and (max-width: 600px) {
    .home-student{
        width: 100%;
    }
    
    .home-student-h1{
        width: 100%;
        font-size: 130%;
        margin: 10px;
        text-align: left;
    }
    
    .home-student-container{
        padding: 10px 0px 10px 0px;
        width: 97%;
        height: 100%;
        margin: 5px 5px 5px 5px;
    }
    
    .home-student-h2{
        width: 100%;
		font-size: 100%;
    }
    
    .home-student-row{
        width: 100%;
		font-size: 100%;
    }
    .home-student-col{
        margin-top: 20px;
        font-size: 100%;
    }
    
    .home-student-btn1{
        margin: 1px; 
        font-size: medium;
        height: 40px;
        padding: 0.3em;
    }
    
    .home-student-btn2{
        margin: 10px 10px 10px 10px; 
        font-size: medium;  
    }
    
    .home-student-container{
        padding: 10px 0px 10px 0px;
        width: 97%;
        height: 100%;
        margin: 0px 5px 0px 5px;  
    }
    
}