.home-student{

}

.home-student-h1{
    margin: 10px 1200px 10px 0px;
    font-weight: bold;
}

.home-student-container{
    border: 2px solid #FFDE59;
    border-radius: 15px;
    padding: 10px 0px 0px 0px;
    width: 800px;
    height: 200px;
    margin: 10px 0px 15px 60px; 
    text-align: left;  
}

.home-student-h2{
    color: #463077;
    margin: 15px 0px 15px 15px;
    font-weight: bold;
}

.home-student-p{
    color: red;
    margin-left: 40px;
}

.home-student-row{
    border-top: 2px solid #FFDE59;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgray;
    padding-bottom: 9px;
}
.home-student-col{
    margin-top: 20px;
    font-size: 20px;
}

.home-student-btn1{
    color:#463077;
    background-color:#FFFF;
    border-color:#C99700;
    margin: 10px 10px 10px 10px; 
    font-size: large;
    font-weight: bolder;
    
}

.home-student-btn2{
    color:#ffff;
    background-color:#463077;
    border-color:#463077;
    margin: 10px 10px 10px 10px; 
    font-size: large;
    font-weight: bolder;
    
}